@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 20px;
  text-align: center;
}

.title {
  @include title-style;
}

.input {
  @include input-base;
  &::placeholder {
    color: $color-placeholder;
  }
}


  .visuallyHidden {
 @include visuallyHidden;

}
.description {
  @include description-style;
}

@media (min-width: 375px) {
  .input {
    width: 343px;
  }
}
@media (min-width: 375px) and (orientation: landscape) {
  .input {
    width: 400px;
  }
  .description {
    width: 375px;
  }
}
@media (min-width: 744px) {
  .input {
    width: 400px;
  }
}
