@import "variables";
@mixin title-style {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;

  @media (min-width: 744px) {
    font-size: 36px;
    margin-bottom: 24px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 32px;
  }
}
@mixin subtitle-style {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 744px) {
    font-size: 20px;
    line-height: 28px;
  }
}
@mixin description-style {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  @media (min-width: 744px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    width: 375px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 32px;
  }
}

@mixin choose-button() {
  width: 136px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  border: none;
  cursor: pointer;

  span {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    display: block;
    font-weight: 600;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  &.active {
    background-color: #fff;
  }

  @media (min-width: 375px) {
    width: 160px;
    height: 140px;
  }
}
@mixin button-base($width: 288px) {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: $btn-bg;
  border: none;
  color: $btn-text-color;
  border-radius: 16px;
  width: $width;
  height: 56px;
  cursor: pointer;
}
@mixin input-base() {
  width: 288px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding-left: 16px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $color-text-main;
  margin-bottom: 16px;
}
@mixin background-icon() {
  background-image: url("../assets/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 24px 24px;
}

@mixin visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@mixin signIn-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 104px;
  height: 40px;
  color: #111212;
  background: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 4px rgba(53, 53, 56, 0.25);
  cursor: pointer;
}
