$font-main: 'Inter', sans-serif;
$font-alt: 'Poppins', sans-serif;
$bg-main-gradient: linear-gradient(to right, #66E59B, #29CCA3);
$btn-bg:#150954;
$btn-text-color:#FFFFFF;
$color-text-main: #353538;
$color-placeholder:#5F5F62;